html, body {
	height: 100%;
	
}

.app {
	height: 100%;
}

.fullscreen {
	.app {
		height: 100%;
	}
	// header {
	// 	height: 2px;
	// }
	// header:hover {
	// 	height: @header-height;		
	// }
	.expand-collapse {

	}
}

:-webkit-full-screen { .fullscreen; }
:-moz-full-screen { .fullscreen; }
:-ms-full-screen { .fullscreen; }
:fullscreen { .fullscreen; }