@import 'val.less';
@import 'custom-solarized.less';

@console-height: 200px;
@handle-height: 27px;
.CodeMirror, .CodeMirror-scroll {
    height: 100%;
}

.CodeMirror {
	tab-size: 3;
}

.CodeMirror-hints {
	width: 600px;
	resize: horizontal;
	z-index: 2000;

}

.CodeMirror-hint {
	max-width: none;
	resize: none;

	.autocomplete-result-name{
	}
	.autocomplete-result-signature{
		opacity:0.5;
	}
}

.code, .insight {	
/*	resize:both;
	overflow:auto;*/
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 28px;

	width: (100% / 2);
	height: calc(~"100% -"@console-height + @handle-height);

	.user-snippet {
		overflow-y: scroll;
		height:calc(~"100% - 5px");
		h1 {
			margin-top: 0;
		}
		margin: 5px;
		ul{
			padding-left: 0; 
		}
		li {
			list-style: none;
			position: relative;
		}
		syntaxhighlight:hover{
			cursor: pointer;
		}
		.crud {
			margin: 5px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	&.expandedHeight {
		height: calc(~"100% -" @handle-height);
	}

	&.expandedWidth {
		width: 100%;
	}
}

.code {
	.sideMenu{
		right: 0;
		position: absolute;
	    z-index: 100;
	    border-bottom-left-radius:15px;
		.handle{
			font-size:20px;
			text-align:center;
			width:100%;
			margin:auto;
		}
		.expand-collapse {
			transition: max-height 0.5s;
			-webkit-transition: max-height 0.5s;
			overflow:hidden;
			text-align:center;
		    &.active{
		    	max-height:500px;
		    }
		    &.inactive{
		    	max-height:0px;
		    }

			i {
				
				display: block;
				font-size: 32px;
				color: @metal-blue;
				margin:3px;
				&:hover {
					color: @sky;
				}

				&.saving {
					color: green;

					&:hover {
						color: green;
					}
				}

				.message {
					top: 105px;
					left: -55px;
					position: absolute;
					color: @metal-blue;
					font-size: 12px;
				}
			}		
		}
	}

	.error {
		display: inline-block;
		border-bottom: 1px dashed red;
	}
	.lint-error-icon {
		margin-right: 5px;
		margin-left: 5px;
	}
	.lint-error{
		font-size: 70%; 
		background: #ffa; 
		color: #a00;
	}

}


.insight {
	.CodeMirror-vscrollbar {
		visibility: hidden;
	}

	.icon-spin {
		position: fixed;
		left: (100% * 3) / 4;
		top: (100% / 2);
		color: black;
		z-index: 1500;
	}

	&.view-disabled {
		display: block;
		background-color: black;
		opacity: 0.9;
		z-index: 1000;
	}

	& .mirror.fetching {
		opacity: 0.95;
	}

	.mirror {
		height: 100%;
	}
}

.console {

	/*resize:both;*/
	.output{
		width:100%;
		height:100%;
		height:@console-height;
		background-color: inherit;	
		outline-color: transparent;	
		border:none;
		resize:none;
	}

	.handle{
		width:100%;
		height:@handle-height;
		.menu{
			text-align:right;
		}
	}
}
