.user-snippet {
	overflow-y: auto;
	position: absolute;

	header {
		margin-bottom: 10px;
	}
	h1, .avatar{
		display: inline-block;
		vertical-align: middle;
	}
	h1 {
		margin: 0;
	}
	.avatar {
		width: 32px;
		height: 32px;
	}
	display: inline-block;
	width: 50%;
	height: 100%;

	padding: 20px;
	ul{
		padding-left: 0;
	}
	li {
		list-style: none;
		position: relative;
	}
	syntaxhighlight:hover {
		cursor: pointer;
	}
	.crud {
		font-size: 26px;
		padding: 10px;
		border-bottom-left-radius:15px;

		.link {
			.hightlight();
			text-decoration: none;
		}
		.delete {
			.hightlight(red);
			cursor: pointer;
		}
	}
	pre {
		min-height: 100px;
		border: none;
		white-space: pre;
		word-wrap: normal;
		overflow-y: auto;
	}
}
