.CodeMirror, .CodeMirror-scroll {
	height: 100%;
}

.CodeMirror {
	tab-size: 3;
}

.CodeMirror-hints {
	width: 600px;
	resize: horizontal;
	z-index: 2000;
}

.CodeMirror-hint {
	max-width: none;
	resize: none;

	.autocomplete-result-name{
	}
	.autocomplete-result-signature{
		opacity:0.5;
	}
}

.fetching {
	.cm-s-solarized {
		&.cm-s-dark {
			// todo change something
		}

		&.cm-s-light {
			// todo change something	
		}
	}
}

// TODO: woot
// pre::-webkit-scrollbar {
// 	height: 12px;
// 	border-radius: 0 0 4px 4px;
// 	background-color: #34362e;
// }

.cm-s-solarized {
	.solarized-pallette;

	border-right-style: solid;
	border-right-width: 1px;

	.crud {
		position: absolute;
		top: 0;
		right: 0;

		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-style: solid;
		border-left-width: 1px;
	}

	&.side-menu{
		// continous border trick - woot woot
		right: -1px;
		border-right:none;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-style: solid;
		border-left-width: 1px;
		margin-right: 1px;
	}

	&.user-snippet {
		pre {
			border-style: solid;
			border-width: 1px;
		}
	}

	.CodeMirror-gutters {
		border-right-style: solid;
		border-right-width: 1px;
	}


	&.cm-s-dark {
		.template(@base02, @base0, black, grey);
	}

	&.cm-s-light {
		.template(@base2, @base00, grey, grey);
	}

	.template(@background, @foreground, @border, @disable){
		border-right-color: @border;

		h1 {
			color: @foreground;
		}

		&.side-menu{
			border-bottom-color: @border;
			border-left-color: @border;

			i, a {
				color: @foreground;
			}
		}
		
		.crud {
			background-color: @background;
			border-bottom-color: @border;
			border-left-color: @border;
		}

		&.side-menu,
		&.user-snippet { 
			background-color: @background;
		}

		&.user-snippet {
			pre {
				border-color: @border;
			}

			i, a {
				color: @foreground;
			}
		}
		.disable {
		  color: @disable !important;
		}

		.CodeMirror-gutters {
			border-right-color: @border;
		}
	}
}