[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none;
}

/*
Solarized theme for code-mirror: http://ethanschoonover.com/solarized
Solarized color pallet: http://ethanschoonover.com/solarized/img/solarized-palette.png
less version: gui
*/

.cm-s-solarized {
  line-height: 1.45em;
  font-size: 18px;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  color-profile: sRGB;
  rendering-intent: auto;
  /* Editor styling */
  /* Gutter border and some shadow from it  */
  /* Gutter colors and line number styling based of color scheme (dark / light) */
  /* Dark */
  /* Light */
  /* Common */
  /*
  Active line. Negative margin compensates left padding of the text in the
  view-port
  */
}

.cm-s-solarized.cm-s-dark {
  color: #839496;
  background-color: #002b36;
}

.cm-s-solarized.cm-s-light {
  background-color: #fdf6e3;
  color: #657b83;
}

.cm-s-solarized .CodeMirror-widget {
  text-shadow: none;
}

.cm-s-solarized .cm-keyword {
  color: #cb4b16;
}

.cm-s-solarized .cm-atom {
  color: #d33682;
}

.cm-s-solarized .cm-number {
  color: #d33682;
}

.cm-s-solarized .cm-def {
  color: #2aa198;
}

.cm-s-solarized .cm-variable {
  color: #268bd2;
}

.cm-s-solarized .cm-variable-2 {
  color: #b58900;
}

.cm-s-solarized .cm-variable-3 {
  color: #6c71c4;
}

.cm-s-solarized .cm-property {
  color: #2aa198;
}

.cm-s-solarized .cm-operator {
  color: #6c71c4;
}

.cm-s-solarized .cm-comment {
  color: #586e75;
  font-style: italic;
}

.cm-s-solarized .cm-string {
  color: #859900;
}

.cm-s-solarized .cm-string-2 {
  color: #b58900;
}

.cm-s-solarized .cm-meta {
  color: #859900;
}

.cm-s-solarized .cm-error,
.cm-s-solarized .cm-invalidchar {
  color: #586e75;
  border-bottom: 1px dotted #dc322f;
}

.cm-s-solarized .cm-qualifier {
  color: #b58900;
}

.cm-s-solarized .cm-builtin {
  color: #d33682;
}

.cm-s-solarized .cm-bracket {
  color: #cb4b16;
}

.cm-s-solarized .CodeMirror-matchingbracket {
  color: #859900;
}

.cm-s-solarized .CodeMirror-nonmatchingbracket {
  color: #dc322f;
}

.cm-s-solarized .cm-tag {
  color: #93a1a1;
}

.cm-s-solarized .cm-attribute {
  color: #2aa198;
}

.cm-s-solarized .cm-header {
  color: #586e75;
}

.cm-s-solarized .cm-quote {
  color: #93a1a1;
}

.cm-s-solarized .cm-hr {
  color: transparent;
  border-top: 1px solid #586e75;
  display: block;
}

.cm-s-solarized .cm-link {
  color: #93a1a1;
  cursor: pointer;
}

.cm-s-solarized .cm-special {
  color: #6c71c4;
}

.cm-s-solarized .cm-em {
  color: #999;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.cm-s-solarized .cm-strong {
  color: #eee;
}

.cm-s-solarized .cm-tab:before {
  color: #586e75;
}

.cm-s-solarized.cm-s-dark .CodeMirror-selected {
  background: #073642;
}

.cm-s-solarized.cm-s-light .CodeMirror-selected {
  background: #eee8d5;
}

.cm-s-solarized .CodeMirror-gutters {
  padding: 0 15px 0 10px;
  border-right: none;
}

.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: #073642;
}

.cm-s-solarized.cm-s-light .CodeMirror-gutters {
  background-color: #eee8d5;
}

.cm-s-solarized .CodeMirror-linenumber {
  color: #657b83;
}

.cm-s-solarized .CodeMirror-gutter .CodeMirror-gutter-text {
  color: #586e75;
}

.cm-s-solarized .CodeMirror-lines {
  padding-left: 5px;
}

.cm-s-solarized .CodeMirror-lines .CodeMirror-cursor {
  border-left: 1px solid #586e75;
}

.cm-s-solarized .activeline {
  margin-left: -20px;
}

.cm-s-solarized.cm-s-dark .activeline {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-solarized.cm-s-light .activeline {
  background: rgba(0, 0, 0, 0.1);
}

.CodeMirror,
.CodeMirror-scroll {
  height: 100%;
}

.CodeMirror-gutters {
  height: 100% !important;
}

.CodeMirror {
  -moz-tab-size: 3;
  -o-tab-size: 3;
  tab-size: 3;
}

html,
body {
  height: 100%;
  background-color: #3d495f;
}

.app {
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
}

.app.zen-mode {
  height: 100%;
}

header {
  padding: 5px;
  height: 40px;
}

header.collapsed {
  height: 2px;
}

header .search {
  position: relative;
  float: right;
  width: 40%;
}

header .search .dropdown {
  z-index: 10;
}

header .search input[type=text] {
  font-size: 22px;
}

header .search .doc {
  background-color: #e5554d;
}

header .search .doc h3 {
  margin-top: 75px;
}

header .search .snippet {
  background-color: #555555;
}

header .search .snippet h3 {
  margin-top: 107px;
}

header .search h3 {
  width: 40px;
  font-size: 32px;
  font-weight: 300;
  color: white;
  float: left;
  -webkit-transform: rotate(-90deg);
}

header .search ul {
  background-color: #FFF;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  list-style: none;
}

header .search .results {
  min-height: 64px;
  opacity: 0.35;
  border-bottom: 1px solid black;
}

header .search .results.active {
  opacity: 1;
}

header .search .results.active .name {
  color: black;
}

header .search .results .name {
  font-size: 20px;
  line-height: 30px;
}

header .search .results p {
  margin-bottom: 5px;
}

header div.element {
  color: whitesmoke;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

header div.element a {
  text-decoration: none;
  color: whitesmoke;
}

header div.element a:hover {
  color: #7fdff9;
}

header div.element div.userddl {
  margin-top: 2px;
  float: left;
  position: absolute;
  background-color: #555555;
  border: 1px solid whitesmoke;
  z-index: 200;
}

header div.element div.userddl ul {
  color: whitesmoke;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

header div.element div.userddl ul li:hover,
header div.element div.userddl ul li:hover a {
  color: #7fdff9;
  background-color: #444444;
}

header div.element div.userddl ul li div {
  padding: 1px 10px 1px 10px;
}

header div.element.open {
  color: #7fdff9;
}

header div.element:hover {
  color: #7fdff9;
}

.code,
.insight {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
}

.code .expand-collapse {
  right: 0;
  position: absolute;
  margin-top: 5px;
  margin-right: 12px;
  z-index: 100;
}

.code .expand-collapse i {
  display: block;
  font-size: 32px;
  color: #3d495f;
}

.code .expand-collapse i:hover {
  color: #7fdff9;
}

.code .error {
  display: inline-block;
  border-bottom: 1px dashed red;
}

.code.expanded {
  width: 100%;
}

.insight .CodeMirror-vscrollbar {
  visibility: hidden;
}

.insight .icon-spin {
  position: fixed;
  left: 75%;
  top: 50%;
  color: black;
  z-index: 1500;
}

.insight.view-disabled {
  display: block;
  background-color: black;
  opacity: 0.9;
  z-index: 1000;
}

.insight.fetching {
  opacity: 0.6;
}