<h2>About CodeBrew.io</h2>
<p>Codebrew.io is an interactive scala IDE in the cloud. Use the editor to run and share your code snippets online. Codebrew.io provides you with autocompletion, scaladoc and insights on your algorithm.</p>

<h2>References</h2>
<p>
	<ul>
		<li><a href="https://github.com/CodeBrew-io" target="_blank"><i class="fa fa-github"></i>Contribute to github.com/CodeBrew-io </a></li>
		<li><a href="https://github.com/CodeBrew-io/Issues/issues/new" target="_blank"><i class="fa fa-github"></i>Submit new issue to github</a></li>
	</ul>
</p>
<h2>About the team</h2>
<p>CodeBrew.io was created at Polytechnique Montreal by a team of 5 software engineering students as their final year project.</p>
<div class="centerAligner">
		<div ng-repeat="teammate in teammates track by teammate.name" class="teammateBox">
			<div class="centerAligner">
				<div>{{teammate.name}}</div>
				<a href="{{teammate.linkedin}}" ng-show="{{teammate.linkedin.length > 0}}" target="_blank"><i class="fa fa-linkedin-square"></i> </a>
				<a href="{{teammate.github}}"  ng-show="{{teammate.github.length > 0}}"   target="_blank"><i class="fa fa-github-square"></i> </a>
				<a href="{{teammate.twitter}}" ng-show="{{teammate.twitter.length > 0}}" target="_blank"><i class="fa fa-twitter-square"></i> </a>
			</div>
		</div>
</div>


<h2>Special thanks</h2>
<p>The CodeBrew.io team would like to thank our teacher in charge Olivier Gendreau (Ph.D.) for his support and his help through the semester.</p>
<p>We would also like to thank Adriaan Moors (Ph.D.), Scala Tech lead @ TypeSafe, for his precious time since the start of this project.</p>
<div class="centerAligner">

	<a href="http://www.polymtl.ca" target="_blank" class="thanksBox">
		<div class="centerAligner">
			<img class="specialThanksLogo" src="/images/polytechnique.png"/>
		</div>
	</a>
	<a href="http://www.typesafe.com" target="_blank" class="thanksBox">
		<div class="centerAligner">
			<img class="specialThanksLogo" src="/images/typesafe.jpg"/>
		</div>
	</a>
	<a  href="http://www.scalex.org" target="_blank" class="thanksBox">
		<div class="centerAligner">
			<div class="specialThanksLogo">
				<span class="scalex">scalex</span><span class="scalexVersion">2</span>
			</div>
		</div>
	</a>
</div>