<div ng-controller="code" ng-init="init()" class="app">
    <div class="code" ng-class="{'expandedWidth': withInsight==false, 'expandedHeight' : withConsole==false}">
        <div class="expand-collapse">
            <i title="fullscreen (f11)" class="fa fa-expand" ng-click="fullscreen()"></i>
            <i title="toogle insight" class="fa" 
                ng-class="{'fa-chevron-right': withInsight, 'fa-chevron-left': !withInsight}"
                ng-click="toogleInsight()"></i>
            <i title="save snippet" class="fa" ng-click="save($event)" 
                ng-class="{'fa-check saving':isSaving, 'fa-floppy-o': !isSaving}">
            </i>
            <i title="toogle my snippets" class= "fa" 
                ng-class="{'fa-folder-o' : !viewingMySnippets(), 'fa-folder-open-o': viewingMySnippets()}"
                ng-click="toogleMySnippets()">
            </i>
            <i title="clear all" class="fa fa-eraser" ng-click="clear()"></i>
            <i title="login" class="fa fa-user" ng-show="!loggedIn()" ng-click="login()"></i>
            <i title="logout" class="fa fa-power-off" ng-show="loggedIn()" ng-click="logOut()"></i>
            <div ng-class="getBubbleClass()" ng-show="show">
                <span class="info">{{ tutorialText.messages[currentBubbleIndex] }}</span>
                <div class="navigation">
                    <a ng-click="previous()" ng-class="head()">{{ tutorialText.previous }}</a>
                    <a ng-click="skip()">{{ tutorialText.skip }}</a>
                    <a ng-click="next()" ng-class="last()">{{ tutorialText.next }}</a>
                </div>
            </div>
        </div>
        <textarea ui-codemirror="optionsCode" ng-model="code"></textarea>
    </div><div class="insight"  ng-show="withInsight" ng-class="{'expandedHeight' : withConsole==false}">
        <div class="mirror" ng-show="!viewingMySnippets()" ng-class="{ 'fetching': fetching}">
            <textarea ui-codemirror="optionsInsight" ng-model="insight"></textarea>
        </div>
        <div class="user-snippet" ng-show="viewingMySnippets()">
            <h1>My Snippet</h1>
            <ul>
                <li ng-repeat="mySnippet in mySnippets track by mySnippet.id">
                    <syntaxhighlight  syntaxtype="text/x-scala" ng-model='mySnippet.code' ng-click="insertSnippet(mySnippet)">
                    </syntaxhighlight>
                    <div class="crud">
                        <a href="/{{ mySnippet.user }}/{{ mySnippet.id }}" target="_blank">
                            <i class="fa fa-external-link"></i>
                        </a>
                        <i class= "fa fa-times delete" ng-click="deleteSnippet(mySnippet)"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="console cm-s-solarized cm-s-light">
        <div class="handle">
            <div class="menu">
                <i class="fa fa-eraser" ng-show="!consoleIsEmpty()" ng-click="clearConsole()"></i>
                <i class="fa" ng-class="{'fa-chevron-down': withConsole, 'fa-chevron-up': !withConsole}"
                 ng-click="toogleConsole()"></i> 
            </div>
        </div>
        <textarea class="output" ng-model="console" ng-show="withConsole">
        </textarea>
    </div>
</div>