<div ng-controller="code" class="app" ng-class="{'zen': zen}">
    <div class="code" ng-class="{'expanded': withInsight==false}">
        <div class="expand-collapse" ng-class="{'anchorRight': withInsight==false}" ng-click="toogleInsight()">
            <i ng-class="{'fa fa-chevron-right': withInsight==true, 'fa fa-chevron-left': withInsight==false}" ng-show="true"></i>
            <i ng-class="{'fa fa-resize-full': withInsight==true, 'fa fa-resize-small-left': withInsight==false}" ng-show="true"></i>
        </div>
        <textarea ui-codemirror="optionsCode" ng-model="code"></textarea>
    </div><div class="insight" ng-class="{'' : !isEditorPending, 'fetching': isEditorPending}" ng-show="withInsight">
        <textarea ui-codemirror="optionsInsight" ng-model="insight"></textarea>
    </div>
</div>