<header ng-controller="header" ng-class="{'': !zen, 'collapsed': zen && !header}" ng-mouseenter="onMouseEnterHeader()" ng-mouseleave="onMouseLeaveHeader()">
    <nav ng-show="!zen || header">
        <ul class="nav">
            <li class="navbar-brand">CodeBrew</li>
            <li class="profile ">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <img class="img-rounded" src="https://1.gravatar.com/avatar/4490afa59b3570318cd38cba4ae06183?d=https%3A%2F%2Fidenticons.github.com%2F70429b300437a3e82a1bbee70ae653d2.png&r=x&s=20"> MasseGuillaume <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
            </li>
        </ul>
    </nav>
    <typeahead class="search" items="all"
        term="term" search="search(term)" select="select(item)">
        <div class="doc">
            <h3 ng-show="hasDocs()">Doc</h3>
            <ul>
                <li typeahead-item="doc" ng-repeat="doc in docs" class="results">
                    <span class="class">{{doc.qualifiedName}}</span>
                    <span class="signature">{{doc.signature}}</span>
                    <textarea ui-codemirror="codemirrorOptions" ng-model="doc.comment.example"></textarea>
                </li>
            </ul>
        </div>
        <div class="snippet">
            <h3 ng-show="hasSnippets()">Snippet</h3>
            <ul>
                <li typeahead-item="snippet" ng-repeat="snippet in snippets" class="results">
                    <textarea ui-codemirror="codemirrorOptions" ng-model="snippet.code"></textarea>
                </li>
            </ul>
        </div>
    </typeahead>
</header>