<div ng-controller="header">
    <header ng-class="getThemeShort()">
        <div class="brand" title="About Codebrew.io" ng-click="toogleContentPage()">CodeBrew</div>
        <img ng-show="loggedIn()" class="avatar img-rounded" ng-src="{{ user().codeBrewUser.avatarUrl }}">
        <p ng-show="loggedIn()" class="username">{{ user().codeBrewUser.fullName }} ({{ user().codeBrewUser.userName }})</p>

        <div class="search-area" ng-class="{ 'active': !showingContentPage, 'inactive': showingContentPage}">
            <typeahead class="search" items="all"
                term="term" search="search(term)" select="select(item)">
                <div ng-show="hasDocs()" class="doc">
                    <h3>Doc</h3>
                    <ul>
                        <li typeahead-item="doc" ng-repeat="doc in docs" class="results">
                            <syntaxhighlight syntaxtype="text/x-scala" ng-model='doc.qualifiedName'></syntaxhighlight>
                            <syntaxhighlight syntaxtype="text/x-scala" ng-model='doc.signature'></syntaxhighlight>
                            <pre class="text" ng-show="doc.comment.source">{{ doc.comment.source }}</pre>
                            <a href="http://www.scala-lang.org/files/archive/api/current/#{{ doc.parent.qualifiedName }}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-show="hasSnippets()" class="snippet">
                    <h3>Snippet</h3>
                    <ul>
                        <li typeahead-item="snippet.code" ng-repeat="snippet in snippets track by snippet.id" class="results">
                            <syntaxhighlight syntaxtype="text/x-scala" ng-model='snippet.code'></syntaxhighlight>
                            <a href="/{{ snippet.user }}/{{ snippet.id }}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </typeahead>
        </div>
    </header>
    <div class="content-holder cm-s-solarized cm-s-{{ getThemeShort() }}" ng-class="{ 'active': showingContentPage, 'inactive': !showingContentPage}">
        <div class="container content" ng-class="{ 'active': showingContentPage, 'inactive': !showingContentPage}">
            <ng-include src="'/views/about.html'" ></ng-include>
        </div>
    </div>
</div>