<header ng-controller="header" ng-init="init()">
    <div class="brand">CodeBrew</div>
    <div class="search-area">
        <div class="btn-group profile" ng-show="loggedIn()" ng-class="{ 'open': profileOpen }">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-click="toogleProfile()">
                <img class="img-rounded" ng-src="{{ user.gravatar }}">{{ user.name }}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!--
        --><a class="btn btn-primary" ng-show="!loggedIn()" href="/login">Login</a><!--
        --><typeahead class="search" items="all"
            term="term" search="search(term)" select="select(item)">
            <div ng-show="hasDocs()" class="doc">
                <h3>Doc</h3>
                <ul>
                    <li typeahead-item="doc" ng-repeat="doc in docs" class="results">
                        <syntaxhighlight syntaxtype="text/x-scala" ng-model='doc.qualifiedName'></syntaxhighlight>
                        <syntaxhighlight syntaxtype="text/x-scala" ng-model='doc.signature'></syntaxhighlight>
                        <pre class="text" ng-show="doc.comment.source">{{ doc.comment.source }}</pre>
                    </li>
                </ul>
            </div>
            <div ng-show="hasSnippets()" class="snippet">
                <h3>Snippet</h3>
                <ul>
                    <li typeahead-item="snippet" ng-repeat="snippet in snippets | snippetCode" class="results">
                        <syntaxhighlight syntaxtype="text/x-scala" ng-model='snippet'></syntaxhighlight>
                    </li>
                </ul>
            </div>
        </typeahead>
    </div>
</header>