<h1>My Snippets</h1>
<ul>
    <li ng-repeat="mySnippet in mySnippets track by mySnippet.id">
        <syntaxhighlight  syntaxtype="text/x-scala" ng-model='mySnippet.code' ng-click="insertSnippet(mySnippet)">
        </syntaxhighlight>
        <div class="crud">
            <a href="/{{ mySnippet.user }}/{{ mySnippet.id }}" target="_blank">
                <i class="fa fa-external-link"></i>
            </a>
            <i class= "fa fa-times delete" ng-click="deleteSnippet(mySnippet)"></i>
        </div>
    </li>
</ul>
